name: CI

on:
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          # version: "latest" (Optional, will auto-detect from pyproject.toml if specified there)

      - name: Install dependencies & Python
        # uv sync reads pyproject.toml/uv.lock and handles Python installation automatically
        run: uv sync --frozen --all-extras --dev

      - name: Run unittests
        run: uv run python -m unittest discover .