name: Automatic Tests

on:
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install dependencies & Python
        run: uv sync --frozen --all-extras --dev

      - name: Run tests with coverage
        run: uv run coverage run --source=. -m unittest discover .
          
      - name: Check coverage threshold
        run: uv run coverage report --fail-under=100